[submodule "externals/robin-hood-hashing"]
	path = externals/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "externals/ntHash"]
	path = externals/ntHash
	url = https://github.com/bcgsc/ntHash
[submodule "externals/unordered_dense"]
	path = externals/unordered_dense
	url = https://github.com/martinus/unordered_dense
